@{
    ViewBag.Title = "Home Page";
}
    

<div class="row">
    <div class="col-md-6">
        <h2>Ultra Racing Times</h2>
        <p>This will be an ultra website soon!</p>

        <form>
            <div class="form-group">
                <label>Person</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Track</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Car</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Race time</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Setup</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-success"/>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>The Car</h2>
        <img src="~/img/BMWZ4GT3.jpg" class="col-md-12 col-lg-8"/>
    </div>
    <div class="col-md-offset-6">
        <h2>The Track</h2>
        <img src="~/img/spafrancorchamps1.jpg" class="col-md-12 col-lg-8" />
    </div>
</div>